## Hands-On Data Preprocessing in Python
Learn how to effectively prepare data for successful data analytics
    
    AUTHOR: Dr. Roy Jafari 

### Chapter 6: Prediction 
#### Excercises

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from ipywidgets import interact, widgets

# Excercise 1
“MLP has the potential to create prediction models that are more accurate than predictions models that are created by linear regression.” This statement is generally correct. In this exercise, we want to explore one of the reasons why the statement is correct. Answer the following questions.

    a) The following formula shows the linear equation that we used to connect the dependent and independent attributes of the MSU number of applications problem. Count and report the number of coefficients that Linear Regression can play with to fit the equation to the data.  

**N_Applications= β_0+β_1×P_Football_Performance+β_2×SMA2**

    b) Figure 6. 8. shows the MLP network structure we used to connect the dependent and independent attributes of the MSU number of applications problem. Count and report the number of connections’ weight MLP can play with to fit the network to the data.

    c)Use your answer in a, and b to state why MLP has more potential in creating prediction models with higher accuracy.

In [2]:
uni_df = pd.read_csv('MSU applications.csv')
uni_df

    Year  P_Football_Performance    SMAn2  N_Applications
0   2006                   0.273   5778.0            5778
1   2007                   0.273   5778.0            5140
2   2008                   0.250   5459.0            6141
3   2009                   0.615   5640.5            7429
4   2010                   0.333   6785.0            7839
5   2011                   0.417   7634.0            9300
6   2012                   0.692   8569.5            9864
7   2013                   0.538   9582.0           10449
8   2014                   0.615  10156.5           11117
9   2015                   0.538  10783.0           10766
10  2016                   0.769  10941.5           12701
11  2017                   0.692  11733.5           13930
12  2018                   0.462  13315.5           13817
13  2019                   0.692  13873.5           17363
14  2020                   0.615  15590.0           18269
15  2021                   0.462  17816.0           16127

In [9]:
from sklearn.linear_model import LinearRegression
X = ['P_Football_Performance', 'SMAn2']
Y = ['N_Applications']
data_x = uni_df[X]
data_y = uni_df[Y]
model = LinearRegression()
model.fit(data_x, data_y)

print(model.coef_)
print(model.intercept_)
print(pd.DataFrame({'Predictor': X,'coef': model.coef_[0], 'intercept': model.intercept_[0]}))
print(f'formula: N_Applications = {model.intercept_[0]} + {model.coef_[0][0]}*{X[0]} + {model.coef_[0][1]}*{X[1]}')

[[5.54496193e+03 9.07031768e-01]]
[-890.7106226]
                Predictor         coef   intercept
0  P_Football_Performance  5544.961933 -890.710623
1                   SMAn2     0.907032 -890.710623
formula: N_Applications = -890.7106225983389 + 5544.961933348725*P_Football_Performance + 0.9070317681978814*SMAn2

# Excercise 2
2.	In this exercise, we will be using ToyotaCorolla_preprocessed.csv. This dataset has the following columns: Age, Milage_KM, Quarterly_Tax, Weight, 	Fuel_Type_CNG, Fuel_Type_Diesel, Fuel_Type_Petrol, and Price. Each data object in this dataset is a used Toyota Corolla car. We would like to use this dataset to predict the price of used Toyota Corolla cars.

    a.Read the data into the pandas DataFrame car_df.

In [11]:
car_df = pd.read_csv('ToyotaCorolla_preprocessed.csv')
car_df.head()

,Age,Milage_KM,Quarterly_Tax,Weight,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Price
0,23,46986,210,1165,0,1,0,13500
1,23,72937,210,1165,0,1,0,13750
2,24,41711,210,1165,0,1,0,13950
3,26,48000,210,1165,0,1,0,14950
4,30,38500,210,1170,0,1,0,13750

    b.	Use the skills you picked up in the previous chapter to come up with data visualizations that show the relationship between the attribute price and the rest of the attributes.

    c.	Use the visuals in b, to describe the relationship each of the attributes has with the attribute price.

d.	Create the correlation matrix for all the attributes, and report the correlation values for the relationship that you investigated in b and c.

e.	Did the visual investigations you performed in b and c was confirmed in d. For what types of attributes the conclusions for c were not confirmed in d?

f.	Perform a linear regression to predict the attribute price. Use all the attributes that you detect they had a meaningful relationship with the attribute price as independent attributes. Predict the price of a car with the following specifications: Age: 74 months, Milage_KM: 124057, Quarterly_Tax: 69, and Weight: 1050. The car fuel type is diesel.

g.	Implement an MLP algorithm to predict the attribute price. Use all the attributes that you used in f and predict the price of the same new car presented in f. Use (5,10) network structure (hidden_layer_sizes), and set the max_iter as 500.

h.	The actual price of the new car presented under f is 7950. Report which algorithm performed a better prediction.